name: CI

on: [push]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    env:
      working-directory: memo-backend

    steps:
      - uses: actions/checkout@v2
      - name: Build with Gradle
        run: ./gradlew build
